.content {
  width: 150px;
  cursor: pointer;
  transition: all 20s;
  position: relative;
  &:hover {
  }

  &:hover:before {
    content: "DELETE";
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #ff0000, $alpha: 0.9);
    padding: 13%;
  }
}
